@page
@model RestaurantApp.Pages.Categories.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Category</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Category.ShortDescription" class="control-label"></label>
                <input asp-for="Category.ShortDescription" class="form-control" />
                <span asp-validation-for="Category.ShortDescription" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Category.LongDescription" class="control-label"></label>
                <input asp-for="Category.LongDescription" class="form-control" />
                <span asp-validation-for="Category.LongDescription" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
